<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="htmlcss bootstrap menu, fixed, after scrolling page, navbar, menu CSS examples" />
<meta name="description" content="Bootstrap 5 fixed navbar on scroll page examples, Bootstrap 5" />  

<title>Demo - Bootstrap 5 fixed top header on page scroll. html code example</title>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(){
		
		window.addEventListener('scroll', function() {
	       
			if (window.scrollY > 200) {
				document.getElementById('navbar_top').classList.add('fixed-top');
				// add padding top to show content behind navbar
				navbar_height = document.querySelector('.navbar').offsetHeight;
				document.body.style.paddingTop = navbar_height + 'px';
			} else {
			 	document.getElementById('navbar_top').classList.remove('fixed-top');
				 // remove padding top from body
				document.body.style.paddingTop = '0';
			} 
		});
	}); 
	// DOMContentLoaded  end
</script>
<script type="text/javascript">

  // ソート順クリックイベント start
  $(document).on('change','#sortDropDown',function(){
        //Getting Value
        var selValue = $("#sortDropDown").val();
    
  // ここにソートの機能を呼び出してください！
  // alert('ソート順変わった('+selValue+')');
  });
  // ソート順クリックイベント end

</script>
<style type="text/css">
	.fixed-top {
	    top: -40px;
	    transform: translateY(40px);
	    transition: transform .3s;
	}

</style>
</head>
<body>

<div class="bg-white py-3">
	<div class="container header-bg">
	</div>
</div>

<!-- ============= COMPONENT ============== -->
<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="container">
 	 <a class="navbar-brand" href="#">Easy TechBook Search</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="main_nav">
	<!-- BEGIN SEARCH INPUT -->
	<%= form_with model: @search_form, url: books_search_path, class: 'w-100',local: true, method: :get do |f| %>
	<div class="input-group">
        <%= f.text_field :keyword, class: 'form-control', value: @search_form.keyword, placeholder: '良く検索されているキーワード：Python, Java, SQL' %>
        <span class="input-group-btn">
            <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
            <% end %>
        </span>
    </div>
	  <!-- END SEARCH INPUT -->

  </div>
 </div>
</nav>
<!-- ============= COMPONENT END// ============== -->



<div class="container py-4">
	<div class="row">
	  <!-- BEGIN SEARCH RESULT -->
	  <div class="col-md-12">
		<div class="grid search">
		  <div class="grid-body">
			<div class="row">
			  <!-- BEGIN FILTERS -->
			  <div class="col-md-2">
				<h2 class="grid-title"><i class="fa fa-filter"></i>フィルター</h2>
				<hr>
				<!-- BEGIN FILTER BY PRICE -->
				<h4>価格で絞り込み</h4>
				From
				<div class="input-group date form_price">
				  <input type="text" class="form-control">
				  <span class="input-group-addon bg-blue">　円
				</div>
				<input type="hidden" id="dtp_input1" value="">
				
				To
				<div class="input-group date to_price">
				  <input type="text" class="form-control">
				  <span class="input-group-addon bg-blue">　円
				</div>
				<input type="hidden" id="dtp_input2" value="">
				<!-- END FILTER BY PRICE -->
			  </div>
			  <!-- END FILTERS -->
			  <!-- BEGIN RESULT -->
			  <div class="col-md-10">
				<h2><i class="fa fa-file-o"></i> 結果</h2>
                                <hr>
                                <p>"<%= @search_form.keyword %>"に関連する本の一覧</p>
				
				<div class="padding"></div>
				
				<div class="row">
				  <!-- BEGIN ORDER RESULT -->
				  <div class="col-sm-12">
					<div class="btn-group pull-right">
                      <!--
						<select id="sortDropDown" class="form-control">
							<option value="0">表示順　▼</option>
							<option value="1">安い順　▼</option>
							<option value="2">高い順　▼</option>
						</select>
                        -->
                        <%= select_tag(:sortDropDown, options_for_select([["安い順",true], ["高い順",false]]), {:onchange => "$.ajax({url: 'search', type: 'GET', data: {sort_by:'price', ascending: value, sorting: true}})"}) %>
					</div>
				  </div>
				  <!-- END ORDER RESULT -->

				<!-- BEGIN TABLE RESULT -->
				<div class="table-responsive">
				  <table class="table table-hover">
                                    <% unless @detailed_records.nil? then  @detailed_records.each do |result| %>
                                      <tbody> 
                                        <td class="image">
                                          <a href="<%= result["url"] %>">
                                            <img src="<%= result["image"] %>" alt="">
                                          </a>
                                        </td>
                                        <td class="Book col-sm-5">
                                          <div class="search-result-item col-sm-12">
                                            <h4 class="serach-result-itemheading"> 
                                              <a href="<%= result["url"]%>" >
                                                <%= result["title"] %>
                                              </a>
                                            </h4>
                                            <p class="serach-result-itemheading"><%= result["desc"] %></p>
                                          </div>
                                        </td>
                                        <td class="price text-right"> <%= result["price"] %> 円</td>
                                        <span> </span>
                                      <% end %>
                                      <% end %>
                                    </tbody>
                                </div>
                                <!-- END TABLE RESULT -->

			  </div>
			  <!-- END RESULT -->
			</div>
		  </div>
		</div>
	  </div>
	  <!-- END SEARCH RESULT -->
	</div>
</div><!-- container //  -->
<style type="text/css">
	body{
	background:#eee;
	}
	
	.header-bg {
		height: 200px;
    	background-image: url(https://freepagenumbers.files.wordpress.com/2012/03/cropped-header.jpg);
	}
	
	.grid {
		position: relative;
		width: 100%;
		background: #fff;
		color: #666666;
		border-radius: 2px;
		margin-bottom: 25px;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
	}
	
	.grid .grid-body {
		padding: 15px 20px 15px 20px;
		font-size: 0.9em;
		line-height: 1.9em;
	}
	
	.search table tr td.rate {
		color: #f39c12;
		line-height: 10px;
	}
	
	.search table tr a {
		color: #0d6efd !important;
	}

	.search table tr a:hover {
		cursor: pointer;
	}
	
	.search table tr td.image {
		width: 50px;
	}
	
	.search table tr td img {
		width: 150px;
		height: 200px;
	}
	
	.search table tr td.rate {
		color: #f39c12;
		line-height: 50px;
	}
	
	.search table tr td.price {
		font-size: 1.5em;
		line-height: 50px;
	}
	
	.search #price1,
	.search #price2 {
		display: inline;
		font-weight: 600;
	}

	.search table tr td.download {
		font-size: 1em;
		line-height: 50px;
	}

	.search table tr td.download .download-count {
		color: #999;
		text-align: center;
	}

	.search-result-item .author {
		margin-top: 2px;
		font-size: 12px;
		color: #999
	}

	.search-result-item .year {
		font-size: 12px;
		color: #999
	}

	.search-result-item .description {
    	font-size: 13px
	}

	.search-result-item+.search-result-item {
		margin-top: 20px
	}

	.search-result-item-heading {
		font-weight: 400
	}

	</style>
</body>
</html>

<!--

<h1>Easy TechBook Search</h1>

<%= form_with model: @search_form, url: books_search_path, local: true, method: :get do |f| %>
  <%= f.text_field :keyword, class: 'form-control', value: @search_form.keyword %>
  <%= f.submit '検索する' %>
<% end %>

<% if @records != nil then %>
<%= @records.each do |result| %>
  <%= puts result[:title] %>
  <%= puts result[:subtitle] %>
  <%= puts result[:isbn13] %>
  <%= puts result[:price] %>
  <%= puts result[:image] %>
  <%= puts result[:url] %>
  <% end %>
<% end %>

<%= puts @records %>

-->

