<h1>Easy TechBook Search</h1>

<%= form_with model: @search_form, url: books_search_path, local: true, method: :get do |f| %>
  <%= f.text_field :keyword, class: 'form-control', value: @search_form.keyword %>
  <%= f.submit '検索する' %>
<% end %>


<%= @records.each do |result| %>
  <%= puts result[:title] %>
  <%= puts result[:subtitle] %>
  <%= puts result[:isbn13] %>
  <%= puts result[:price] %>
  <%= puts result[:image] %>
  <%= puts result[:url] %>
<% end %>
