
<!-- BEGIN TABLE RESULT -->
				<div class="table-responsive">
				  <table class="table table-hover">
                                    <% unless @detailed_records.nil? then  @detailed_records.each do |result| %>
                                      <tbody> 
                                        <td class="image">
                                          <a href="<%= result["url"] %>">
                                            <img src="<%= result["image"] %>" alt="">
                                          </a>
                                        </td>
                                        <td class="Book col-sm-5">
                                          <div class="search-result-item col-sm-12">
                                            <h4 class="serach-result-itemheading"> 
                                              <a href="<%= result["url"]%>" >
                                                <%= result["title"] %>
                                              </a>
                                            </h4>
                                            <p class="serach-result-itemheading"><%= result["desc"] %></p>
                                          </div>
                                        </td>
                                        <td class="price text-right"> <%= result["price"] %> </td>
                                        <span> </span>
                                      <% end %>
                                      <% end %>
                                    </tbody>
                                </div>
                                <!-- END TABLE RESULT -->
